* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    /*background-color: #B17424;*/
    background-color: #30302f;
}

header {
    height: 75vh;
    width: 100vw;
    background-image: url("/BookMyField/image/visuel1.jpg");
    background-size: cover;
}
.about {
    height: 100vh;
    width: 100vw;
    background-image: url("/BookMyField/image/terrain7.jpg");
    background-size: cover;
}

.about h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
}

.navbar {
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar .nav-links-appear ul {
    display: flex;
    position: absolute;
    right: 13%;
    margin-top: 2.6%;
    font-size: 2em;
    color: white;
}

.navbar .nav-links-appear ul li {
    margin: 0 20px;
}

.navbar .nav-links-appear ul li img {
    height: 45px;
    width: 45px;
}

.navbar .menu-hamburger{
    display:none;
    position:absolute;
    top:43px;
    right:40px;
    width: 45px;
}

@media screen and (max-width:200000px){
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        height: 130px;
        width: 220px;
    }
    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links {
        top : 0;
        left: 0;
        position: absolute;
        display: flex;
        background-color: rgba(0, 0, 0, 0.524);
        backdrop-filter : blur(8px);
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin-left : -100%;
        transition: all 0.5s ease;
    }
    .nav-links.mobile-menu{
        margin-left: 0;

    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
    .nopadding
    {
        padding: 0 !important;
        margin: 0 !important;
    }



    /* SPACING */


    .nopadding
    {
        padding: 0 !important;
        margin: 0 !important;
    }

    .sameline
    {
        display: flex;
    }


    /* IMAGE EFFECT */

    .baw
    {
        filter: grayscale(100);
    }

    .baw:hover
    {
        filter: grayscale(0);
    }

    .bordered
    {
        border-radius: 5%;
    }

    .item:hover
    {
        filter: brightness(80%);
    }

    .rounded{
        border-radius: 50%;
    }

    .fill {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden
    }
    .fill img {
        flex-shrink: 0;
        min-width: 90%;
        min-height: 90%
    }

    /* BOUTON */

    /*  BACKGROUND COLOR */

    .bg-custom {
        background-color: #3A1B00;
        color: whitesmoke;

    }

    .btn-custom {
        background-color: #507991;
        color: #eeeeee;
    }

    /* FORMULAIRE */


    .container-contact
    {
        min-height: 500px;
        padding: 20px;
        display: flex;
    }

    .container-contact label
    {
        margin: 10px 0;
        display: inline-block;
        width: 250px;
    }

    .container-contact input,
    .container-contact select
    {
        margin: 10px 0;
        padding: 5px 2px;
        display: inline-block;
    }


    .widthform
    {
        width: 250px;
    }

    .widthform2
    {
        width: 200px;
    }
    .widthformLittle
    {
        width: 75px;
    }
    .cardSizing
    {
        min-height: 280px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
      }
      
      .profile {
        text-align: center;
      }
      
      .profile img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      
      .profile h1 {
        font-size: 24px;
        margin: 10px 0;
      }
      
      .profile p {
        font-size: 16px;
        color: #888;
      }
      
      .social-links {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
      }
      
      .social-links li {
        display: inline-block;
        margin: 0 10px;
      }
      
      .social-links a {
        color: #888;
        text-decoration: none;
        font-size: 24px;
      }
      
      .details {
        margin-left: 40px;
      }
      
      .details h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      
      .details p {
        font-size: 16px;
        line-height: 1.5;
      }
      
      .personal-info {
        list-style-type: none;
        padding: 0;
      }
      
      .personal-info li {
        margin-bottom: 10px;
      }
    .contact-heading {
        text-align: center;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .container{
        width: 85%;
        background: #fff;
        border-radius: 6px;
        padding-top: 50px 60px 50px 40px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    margin-top: 0px;
}
.container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}
.content .left-side .details{
    margin: 14px;
    text-align: center;
}
.content .left-side .details i{
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
}
.content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
}
.container .content .right-side{
    width: 75%;
    margin-left: 75px;
}
.content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
}
.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}
.right-side .message-box{
    min-height: 110px;
}
.right-side .input-box textarea{
    padding-top: 6px;
}
.right-side .button{
    display: inline-block;
    margin-top: 12px;
}
.right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input[type="button"]:hover{
    background: #5029bc;
}
@media (max-width: 950px) {
    .container{
        width: 90%;
        padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
        width: 75%;
        margin-left: 55px;
    }
}
@media (max-width: 820px) {
    .container{
        margin: 40px 0;
        height: 100%;
    }
    .container .content{
        flex-direction: column-reverse;
    }
    .container .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container .content .left-side::before{
        display: none;
    }
    .container .content .right-side{
        width: 100%;
        margin-left: 0;
    }
}
.body-about{
    background-image: url("image/terrain7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

H1 {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;

}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 150px;
}

.carousel {
    margin-top: 4%;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 60px;
}

ul.slides {
    display: block;
    position: relative;
    height: 400px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
}


.slide-container {
    display: block;
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
    display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
    opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

#page{
    width:50em;
    margin:0 auto;
    position:relative;
}
#header{
    margin: 1em 0;
    padding: 0.5em;
}
#header h1{
    color: #706040;
    font-style:normal;
    margin:0;
    padding:0.5em;
    text-shadow:1px 1px 0px #FFF;
}

#diapo{
    position:relative;
    height:30em;
    margin:auto;
    text-align:center;
    margin: 2em 2em;
    margin-top: 100px;
    margin-bottom: 100px;
}
#diapo div{
    display:inline-block;
}
#diapo > * + *{
    margin-left:5px;
}
.big_image{
    position:absolute;
    display:block;
    width:600px;
    top:100px;
    left:0;
    right:0;
    margin:0 auto;
    opacity:0;
    border:10px solid #FFF;
    box-shadow: 0 2px 8px 2px #666;

    -webkit-transform:scale(0.25);
    -moz-transform:scale(0.25);
    -ms-transform:scale(0.25);
    -o-transform:scale(0.25);
    transform:scale(0.25);

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.r_check, .on_check{
    cursor: pointer;
}
.r_check:checked ~ label img{
    opacity:0.25;
    border:2px solid #006699;
}
.r_check:checked ~ .big_image {
    opacity:1;

    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}
.r_check{
    /*  display:none;/* si masquer pas acces avec touche */
    opacity:0;
    position:absolute;
}
label img.vignette{
    width:100px;
    height:75px;
    border:2px solid #FFF;
}
.retour{
    color:#909090;
    font-size:1em;
    left:1em;
    bottom:1em;
    position:fixed;
    text-decoration:none;
    font-style:italic;
    text-shadow:1px 1px 0px #FFF;
}
.retour:hover{
    font-style:normal;
    color:#706040;
}
.container2 {
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
    font-family: Arial, sans-serif;
}

.container2 img {
    margin-left: 30px;
}
h6 {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 35px;
}


.sidebar{
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    width: 110px;
    height: 570px;
    padding:0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113, 99, 186, 255);

}
.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}
.logo{
    height: 80px;
    padding: 16px;
}
.menu{
    height:88px;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-bottom: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active{
    background: #e0e0e058;
}

.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{

    left: 0;
    bottom: 0;
    width: 100%;

}


.main--content{
    display: block;
    padding: 0;
    margin-top: 100px;
    align-items:center;
    top: 0;


}
.header--wrapper img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;

}
.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    background: #F0F1F8;
    padding:15px 2rem;
    margin-left:12% ;
    margin-right: 2%;
    margin-bottom: 1rem;
    border-radius: 10px;
    height: 150px;


}*.header-title h2{
     color: rgba(113, 99, 186, 255);
     align-items: right;
 }
.user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search-box{
    background: rgb(237, 237,237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;


}
.search-box input{
    background: transparent;
    padding: 5px;
}
.search-box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search-box i :hover{
    transform: scale(1.2);
}

/* FOOTER */


.hidden {
    display: none;
}

.footer-gray {
    background-color: #EFEFEF;
    width: 100%;
}

.footer-custom {
    color: #888;
    font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    max-width: 1008px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px;
}

.footer-custom:after {
    display: table;
    clear: both;
    content: "";
}

.footer-lists:after {
    display: table;
    clear: both;
    content: "";
}

.ftr-hdr {
    color: #000;
    font: 22px/1.4 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
    margin: 1em 0 0;
}

@media only screen and (min-width: 768px) {
    .ftr-hdr {
        font-size: 18px;
    }
}

.footer-list-wrap {
    width: 20%;
    float: left;
    box-sizing: border-box;
}

@media only screen and (min-width: 568px) {
    .footer-list-wrap {
        width: 33.3333%;
    }
}

@media only screen and (min-width: 768px) {
    .footer-list-wrap {
        width: 25%;
    }
}

.ftr-links-sub {
    padding: 0;
    margin: 0;
}

.ftr-links-sub:after {
    clear: both;
    content: "";
}

.ftr-links-sub li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 3px 0;
    color: #888;
    font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
    /*width: 150px;*/
}

.footer-custom a,
.footer-custom a:link,
.footer-custom a:visited,
.ftr-links-sub li .link {
    text-decoration: none;
    color: #888;
    padding: 5px 0;
    display: block;
}

.footer-custom .footer-legal a {
    display: inline;
}

.footer-custom a:hover,
.footer-custom a:active,
.ftr-links-sub li .link:hover {
    text-decoration: underline;
    color: #888;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .footer-custom a, .footer-custom a:link, .footer-custom a:visited, .ftr-links-sub li .link {
        padding: 0;
    }
}
/* BEGIN EMAIL CAPTURE STYLES*/

.footer-email {
    text-align: center;
}

#ftrEmailForm {
    height: 44px;
}

#ftrEmailForm .error {
    display: none;
    color: red;
    text-align: left;
}

#ftrEmailForm #ftrEmailInput {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    color: #888;
    float: left;
    font: normal normal 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 5px;
    width: 70%;
    height: 100%;
}

#ftrEmailForm #ftrEmailInput:hover {
    border: 1px solid #888;
}
h7 {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-bottom: 35px;
    margin-top: 35px;
}

#ftrEmailForm #ftrEmailInput:focus {
    border: 1px solid #ef9223;
    outline: #ef9223 auto 5px;
}

#ftrEmailForm .button {
    width: 30%;
    height: 100%;
    padding: 5px;
    float: left;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    color: #000;
    font: normal bold 18px/1 BebasFamily, BebasNeueRegular, "Bebas Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: #FFF;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e1e1e1));
    background: -webkit-linear-gradient(top, white 0, #e1e1e1 100%);
    background: -moz-linear-gradient(top, white 0, #e1e1e1 100%);
    background: -ms-linear-gradient(top, white 0, #e1e1e1 100%);
    background: -o-linear-gradient(top, white 0, #e1e1e1 100%);
    background: linear-gradient(to bottom, white 0, #e1e1e1 100%);
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

#ftrEmailForm .button:hover,
#ftrEmailForm .button:active {
    background: black;
    color: #FFF;
    outline: none;
}
/* BEGIN SOCIAL STYLES*/

.footer-social {
    text-align: center;
}

.footer-social ul {
    padding: 0;
    display: inline-block;
    list-style-type: none;
}

.footer-social ul:after {
    display: table;
    clear: both;
    content: "";
}

.footer-social li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .footer-lists {
        width: 100%;
    }
    .footer-email {
        width: 50%;
        float: left;
        text-align: left;
    }
    .footer-social {
        width: 45%;
        margin-left: 5%;
        float: left;
        text-align: left;
    }
}

@media only screen and (min-width: 1008px) {
    .footer-lists {
        width: 66.6666%;
        float: left;
    }
    .footer-email {
        width: 33.3333%;
    }
    .footer-social {
        width: 33.3333%;
        float: right;
        margin-left: 0;
    }
}

.footer-legal {
    padding: 15px 0 0;
    clear: left;
}

.footer-payment {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footer-legal {
        width: 66.6666%;
        float: left;
    }
    .footer-payment {
        width: 33.3333%;
        float: left;
    }
}

@media only screen and (min-width: 1008px) {
    .footer-payment {
        text-align: left;
    }
}

.footer-payment ul {
    padding: 0;
    display: inline-block;
    list-style-type: none;
}

.footer-payment ul li {
    display: inline-block;
    margin: 0 6px;
}

@media only screen and (min-width: 1008px) {
    .footer-payment ul li.ftr-stella {
        margin-left: 0;
    }
}

.ftr-bbb span,
.ftr-stella span {
    background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand2/images/subnav2.png");
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0;
}

.ftr-bbb span {
    background-position: -339px -8px;
    width: 96px;
}

.ftr-stella span {
    background-position: -339px -107px;
    width: 57px;
}

.spacing-huge {
    padding-bottom: 150px;

}

.rgpd {
    color: white;
}

#flag-img {
    cursor: pointer;
}
#google_translate_element {
    display: none;
    /* Styles CSS supplémentaires pour la ligne */
}
.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
}

.form-button:hover {
    background-color: #45a049;
}